build
.gradle
.idea
.vscode
.clang-format
agorasdk*.log
agoraapi.log
xdump_config
agora_cache.db
agoradns.dat
agorareport.dat
crash_context_*
test_data_out/
hs_err_pid*.log
*.log
*.dmp
.DS_Store
.keys

